 @font-face {
  font-family: "Pokemon Pixel Font";
  src: url('../font/pokemon_pixel_font.ttf');
}

.botonesMenu {
	-fx-font-family: "Pokemon Pixel Font";
	-fx-font-size:50;
}
.list-view{
	-fx-font-family: "Pokemon Pixel Font";
	-fx-font-size:20;
}	
#view {
    -fx-background-image:url('../images/background.gif');
    -fx-background-size:100% 100%;
   
}
